<h1><%= current_team.name %></h1>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<ul>
  <% current_team.channels.each do |channel| %>
    <li><%= best_in_place channel, :name, :display_with => lambda { |v| no_spaces_for(v) } %> | <%= link_to "Destroy", channel_path(channel), method: :delete, class: "button danger mini" %> </li>
  <% end %>
</ul>


<%= form_for @channel do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit "Create channel", class: 'button' %>
<% end %>
