<div class="row">
  <h2 class="topic-title">#DESIGN</h2>

  <% 20.times do %>
  <div class="row">
    <div class="link-container">
      <%= image_tag "http://placehold.it/60x60", class: "responsive circular author-image" %>
      <div class="col-12 nopadding">
        <h4 class="title">Facebook Basics Page</h4>
        <p class="author">By <b>Eduardo Higareda</b>. Lead Designer (facebook.com)</p>
      </div>
      <div class="col-3 text-right">
        <h6 class="tag">CSS</h6>
        <div class="row actions">
          <%= link_to '#' do %>
            <%= fa_icon "remove" %>
        <% end %>
          <%= link_to '#' do %>
            <%= fa_icon "envelope-o" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>
